@import "partials/_mixins.scss";

.productList {
	margin-top: 2em;
	width: 100%;
	background: $accent;
	padding: 3em;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	text-align: center;

	.productItem {
		display: flex;
		padding: 2em;
		flex: 0 0 33.33%;
		flex-direction: column;
		justify-content: space-between;

		> * {
			flex: 0 0 auto;
		}

		> .thumbnail {
			flex: 1 0 auto;
			display: flex;
			align-items: center;
		}

		img {
			max-width: 70%;
			max-height: 150px;
			display: block;
			margin: 2em auto;
		}

		.name {
			font-weight: bold;
		}

		button {
			width: 100%;
		}

		@include respond-to(small) {
			flex-basis: 50%;
			padding: 2em 10px;
		}
	}

	@include respond-to(small) {
		padding: 2em 1em;
	}
}
